@font-face {
  font-family: ProximaNova_Light;
  src: url(ProximaNova-Light.otf); }

@font-face {
  font-family: ProximaNova_XBold;
  src: url(ProximaNova-Extrabold.otf); }

body {
  margin: 0;
  color: #fff;
  font-family: sans-serif;
  background: linear-gradient(276deg, #ef4042, #e85a62, #e75f38);
  background-size: 600% 600%;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  font-family: "ProximaNova_Light", Helvetica, sans-serif;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: AnimationName 26s ease infinite;
  -moz-animation: AnimationName 26s ease infinite;
  animation: AnimationName 26s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 91%; }
  50% {
    background-position: 100% 10%; }
  100% {
    background-position: 0% 91%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 91%; }
  50% {
    background-position: 100% 10%; }
  100% {
    background-position: 0% 91%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 91%; }
  50% {
    background-position: 100% 10%; }
  100% {
    background-position: 0% 91%; } }
  body a {
    color: #fff;
    border-bottom: solid 1px white;
    text-decoration: none; }
    body a.hiddenLink {
      border-bottom: 0;
      cursor: default; }

h1 {
  padding: 0;
  margin: 0;
  font-family: "ProximaNova_XBold", Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: 0.05em;
  margin-bottom: 20px; }

.col {
  float: left; }
  .col.right {
    float: right !important; }
  .col.half {
    width: 50%; }

section {
  padding: 10% 15%; }
  section ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    section ul li {
      margin-bottom: 5px; }
      section ul li.tel a {
        border-bottom: 0; }

footer {
  height: 35px;
  width: 100%;
  bottom: 35px;
  position: fixed;
  left: 0;
  padding: 0 15%;
  box-sizing: border-box; }
  footer > div {
    height: 38px; }
    footer > div svg {
      height: 35px; }
    footer > div nav {
      height: 38px; }
      footer > div nav ul {
        margin: 0;
        list-style-type: none;
        width: auto;
        float: right;
        height: 38px; }
        footer > div nav ul li {
          display: block;
          float: left;
          margin-top: 15px; }
          footer > div nav ul li a {
            border-bottom: 0;
            transition: 0.25s; }
            footer > div nav ul li a:hover {
              color: #aaa; }
          footer > div nav ul li i:before {
            font-size: 24px;
            padding: 5px;
            margin: 0 3px; }
